<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" [(ngModel)]="searching" type="search" placeholder="Search topics or keywords" >
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-light" (click)="transfer()">Search</button>
                </div>

                <!--end of col-->
            </div>
        </div>
    </div>
    <!--end of col-->
   </div>
</div>
<!-- <p class="search">{{search}}</p>
<input [(ngModel)]="searching" /> <button (click)="transfer()">Search !</button> -->
